<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Fragment</title>
    <script th:src="@{/js/layout.js}" defer></script>
    <link th:href="@{/css/layout.css}" rel="stylesheet">
</head>
<body>

<header class="b2-header" th:fragment="header">
    <div class="b2-logo">
        <a th:href="@{/webs/loginSuccess}">
            <img src="/images/logo.png" alt="B2샵 로고">
        </a>
    </div>
    <nav class="b2-nav-menu">
        <ul>
            <li><a th:href="@{/webs/loginSuccess}">HOME</a></li>
            <li><a th:href="@{/purchase}">콩동구매</a></li>
            <li><a th:href="@{/community}">콩떡찰떡</a></li>
            <li><a th:href="@{/products}">콩나물</a></li>
        </ul>
    </nav>
    <div class="b2-user-menu">
        <button id="megaMenuButton" class="hamburger-button">☰</button>
    </div>
    <div id="megaMenu" class="mega-menu" style="display: none;">
        <div class="menu-overlay">
            <button id="closeMegaMenu" class="close-button">×</button>
            <div class="menu-content"  id="defaultMegaMenu">
                <section>
                    <h2>내 정보</h2>
                    <!-- 고객용 메뉴 -->
                    <ul class="customer-menu" style="display: none;">
                        <li><a th:href="@{/webs/profile}">회원 정보 수정</a></li>
                        <li><a th:href="@{/myStyle}">MY STYLE</a></li>
                    </ul>

                    <!-- 판매자용 메뉴 -->
                    <ul class="seller-menu" style="display: none;">
                        <li><a th:href="@{/webs/profile}">회원 정보 수정</a></li>
                        <li><a th:href="@{/myMarket}">MY MARKET</a></li>
                    </ul>
                </section>
                <section>
                    <h2 class="customer-header" style="display: none;">구매 정보</h2>
                    <ul class="customer-menu" style="display: none;">
                        <li><a th:href="@{/cart}">장바구니</a></li>
                        <li><a th:href="@{/purchaseHistory}">구매내역</a></li>
                        <li><a th:href="@{/qna}">문의현황</a></li>
                    </ul>

                    <h2 class="seller-header" style="display: none;">판매 정보</h2>
                    <ul class="seller-menu" style="display: none;">
                        <li><a th:href="@{/product/saleHistory}">판매현황</a></li>
                        <li><a th:href="@{/ad/list}">광고현황</a></li>
                        <li><a th:href="@{/qna}">문의현황</a></li>
                    </ul>
                </section>
                <section>
                    <h2 id="dynamicMegaMenuHeader" class="seller-header" style="display: none;">메뉴</h2>
                    <ul id="dynamicMegaMenu" style="display: none;">
                        <!-- b2-nav-menu 항목이 동적으로 추가될 위치 -->
                    </ul>
                </section>


                <button id="logout-btn">로그아웃</button>

            </div>
        </div>
    </div>
</header>
</body>
</html>
