<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/cart.js}"></script>
    <link th:href="@{/css/cart.css}" rel="stylesheet">
    <script th:src="@{/js/layout.js}"></script>
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <title>장바구니</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<main>
    <div class="container">
        <h2>장바구니</h2>
        <div class="button-group">
            <button id="delete-selected" type="button">장바구니에서 삭제</button>
            <button id="order-selected" type="button">주문하기</button>
        </div>
        <table>
            <thead>
            <tr>
                <th><input type="checkbox" id="check_all" /> 전체선택</th>
                <th>번호</th>
                <th>이미지</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>합계</th>
            </tr>
            </thead>
            <tbody id="cart-content">
            <!-- 장바구니 데이터 로드 -->
            </tbody>
        </table>
        <div class="summary">
            <p>총 주문 금액: <span id="total-price">0</span>원</p>
        </div>
    </div>
</main>
<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>