<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/signin.js}"defer></script>
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<h1>오늘도, BZ#</h1>
<button class="btn btn-success" id="google-login" data-provider="google">Google Login</button>
<button class="btn btn-secondary" id="naver-login" data-provider="naver">Naver Login</button>
<button class="btn btn-secondary" id="kakao-login" data-provider="kakao">Kakao Login</button>

</body>
</html>
